<!-- Seccion para las tarjetas con ngfor , la informacion se va metiendo en las tarjetas -->
<!-- la informacion se mete llamando a por ejemplo pokemon.nombre , el cual su respectivo nombre aperecera en la tarjeta por las posiciones -->
<section id="pokemonCards" class="container">
  <div id="contenedortarjetas">
    <div class="tarjeta" *ngFor="let pokemon of pokemons ; let i = index" [class]="coloresDeFondo[i]">

      <div class="infotarjetas2">
        <p>{{ pokemon.nombre }}</p>
        <p id="tarjetanivel">{{ pokemon.nivel }}</p>
        
      </div>

      
      <div class="imagenestarjetas {{coloresDeFondo[i]}}">
        <img [src]="pokemon.imagen" alt="Imagen de {{ pokemon.nombre }}">
      </div>
   
      <div class="infotarjetas">
      
        <p>{{ pokemon.info }}</p>
        <p>{{ pokemon.descripcion }}</p>
      </div>
    </div>
  </div>
</section>