
body{
  /* estilos predeterminados para el footer  */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background-image: url('./assets/img/fondopokk.png');
    background-image: url('./assets/img/fondopokk.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
   
}
/* estilos predeterminados para el footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999; 
}
#titulotuspokemons{
    font-family: 'PressStart2P',sans-serif;
   /* añadimos la fuente retro */
}

@keyframes vibrar {
    0% { transform: translateX(0); }
    20% { transform: translateX(-2px) translateY(-2px); }
    40% { transform: translateX(2px) translateY(2px); }
    60% { transform: translateX(-2px) translateY(-2px); }
    80% { transform: translateX(2px) translateY(2px); }
    100% { transform: translateX(0); }
  }
  
  #titulotuspokemons2 {
    animation: vibrar 0.9s infinite;
    font-family: 'PressStart2P',sans-serif;
  }
@font-face {
    font-family: 'PressStart2P';
    src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  }

/* estilos para el logo */
#logopokemon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }
/* estilos para el div pokedex */
#Pokedexcentral {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin-top: -15vh;
    
  }
  #pokedexcentraltodo{
    border: 4px solid rgb(255, 238, 0) ;
    width: 30%;
    height: 55%;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    background-color: #ffffff;
  }
  #conjunto{
    position: relative;
    top: -15%;
  }
  #pokedeximg img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(4px 4px 4px black);
}
#logopok{
    filter: drop-shadow(4px 6px 12px black);
    margin: 1vh;
}
#pokedexbutton {
    border: none;
    background: none;
    padding: 0;
}
#pokedexfoto {
    display: block; 
    width: 250px;
}

/* estilos para la ventana flotante */
.ventana {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
    z-index: 1000;
    width: 80%;
    height: 80%;
    overflow-y: auto;
}

.contenido {
    text-align: center;
}
/* estilo para el boton de la ventana flotante */
#cerrarVentana {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    width: 20%;
    height: 20%;
    font-family: 'PressStart2P',sans-serif;
}


/* estilos para los contenedores de las tarjetas */
#contenedortarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  
}

.tarjeta {
  background-color: #bfbfbf;
  width: 300px;
  height: 370px;
  border-radius: 8px;
  border: 4px solid black;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
#titulocontenido{
    margin-bottom: 2%;
    
}
/* estilos para las imagenes de las tarjetas */
.imagenestarjetas {
  width: 80%; 
  height: 45%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid black;
  text-align: center;
  margin-left: 10%;
}


.imagenestarjetas img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}
#tarjetanivel{
  
}

.infotarjetas {
  
}
.infotarjetas2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
  

}

.tarjeta {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* estilos para los fondos de las tarjetas */

.pikachu {
  background-color: rgb(250, 243, 36);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nidoran {
  background-color: rgb(170, 39, 231);
}

.charmander {
  background-color: rgb(255, 166, 0);
}
.charizard{
  background-color: rgb(255, 166, 0);
  

}
.blastoise{
  background-color: rgb(0, 162, 255);
}
.golbat{
  background-color: rgb(170, 39, 231);
}
.bulbasaur{
  background-color: rgb(42, 169, 125);
}
.caterpie{
  background-color: rgb(42, 169, 125);
}
.metapod{
  background-color: rgb(42, 169, 125);
}



/* De aqui hacia abajo todo es para el responsive de la pagina  */
@media only screen and (min-width: 1000px) and (max-width: 2100px) {
  #titulotuspokemons2 {
    animation: vibrar 0.9s infinite;
    font-family: 'PressStart2P',sans-serif;
    font-size: 30px;
  }
  #titulotuspokemons{
    font-family: 'PressStart2P',sans-serif;
   
    font-size: 30px;
  
}

#contenedortarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* O ajusta según tus necesidades */
  align-items: stretch; /* Esto hará que las tarjetas se estiren para llenar la altura del contenedor */
  gap: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#pokedexcentraltodo{
  border: 4px solid rgb(255, 238, 0) ;
  width: 40%;
  height: 48%;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  background-color: #ffffff;
}
#pokedexfoto {
  display: block; 
  width: 150px;
}
#conjunto{
  position: relative;
  top: -10%;
}

#cerrarVentana {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  width: 60%;
  height: 20%;
  font-family: 'PressStart2P',sans-serif;
  font-size: 10px;
}

}





@media only screen and (min-width: 600px) and (max-width: 1000px) {
  #titulotuspokemons2 {
    animation: vibrar 0.9s infinite;
    font-family: 'PressStart2P',sans-serif;
    font-size: 20px;
  }
  #titulotuspokemons{
    font-family: 'PressStart2P',sans-serif;
   
    font-size: 25px;
  
}
#contenedortarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* O ajusta según tus necesidades */
  align-items: stretch; /* Esto hará que las tarjetas se estiren para llenar la altura del contenedor */
  gap: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#pokedexcentraltodo{
  border: 4px solid rgb(255, 238, 0) ;
  width: 50%;
  height: 45%;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  background-color: #ffffff;
}
#pokedexfoto {
  display: block; 
  width: 150px;
}
#conjunto{
  position: relative;
  top: 10%;
}

#cerrarVentana {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  width: 60%;
  height: 20%;
  font-family: 'PressStart2P',sans-serif;
  font-size: 10px;
}
}
@media only screen and (min-width: 314px) and (max-width: 600px) {
  #titulotuspokemons2 {
    animation: vibrar 0.9s infinite;
    font-family: 'PressStart2P',sans-serif;
    font-size: 15px;
  }
  #titulotuspokemons{
    font-family: 'PressStart2P',sans-serif;
   
    font-size: 20px;
  
}
#contenedortarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; 
  gap: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#pokedexcentraltodo{
  border: 4px solid rgb(255, 238, 0) ;
  width: 60%;
  height: 40%;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  background-color: #ffffff;
}
#pokedexfoto {
  display: block; 
  width: 150px;
}
#conjunto{
  position: relative;
  top: 10%;
}
#cerrarVentana {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  width: 60%;
  height: 20%;
  font-family: 'PressStart2P',sans-serif;
  font-size: 10px;
}
}

